<template>
  <h1>Devices Lists</h1>
  <device-table :key="keyDeviceTable"/>
</template>

<script>
  import DeviceTable from "@/components/DeviceTable.vue";
export default {
  components: {
    DeviceTable
  },
  data(){
    return {
      keyDeviceTable: 0
    }
  },
  created(){
    //
  this.keyDeviceTable += 1
  }
}
</script>