<template>
  <h1>Sign page</h1>
  <form-login/>
</template>

<script>
  import FormLogin from '@/components/FormLogin.vue'

export default {
  components: {
    FormLogin
  },
  setup() {

  },
}
</script>