<template>

    <a-page-header
      style="border: 1px solid rgb(235, 237, 240)"
      title="Layout Editor"
      sub-title="Layout Ali1"
    />

  <a-row style="margin-top:20px">
    <a-col :span="18" >
        <div style="background: #ececec; padding: 30px">
            <canvas ref="can" width="800" height="800" @mousedown.enter="mousedown"></canvas>
        </div>
    </a-col>
    <a-col :span="6">
        <div style=" padding: 30px; margin-left: 20px">
          <!-- <a-button type="primary" @click="add">Add</a-button> -->
            <a-card title="Select Template" style="cursor: pointer;">
              <a-card-grid style="width: 50%;  text-align: center">
                  <img :width="100" :height="100" @click="addShape(150, 150)" :src="require('@/assets/1.png')"/>
              </a-card-grid>
              <a-card-grid style="width: 50%; text-align: center">
                   <img :width="100" :height="100" @click="addShape(300, 100)" :src="require('@/assets/2.png')"/>
              </a-card-grid>
              <a-card-grid style="width: 50%;  text-align: center">
                   <img :width="100" :height="100" @click="addShape(300, 200)" :src="require('@/assets/3.png')"/>
              </a-card-grid>
              <a-card-grid style="width: 50%; text-align: center">
                   <img :width="100" :height="100" @click="addShape(200, 300)" :src="require('@/assets/4.png')"/>
              </a-card-grid>
              <a-card-grid style="width: 50%; text-align: center">
                 <img :width="100" :height="100" :src="require('@/assets/6.png')"/>
              </a-card-grid>
              <a-card-grid style="width: 50%;  text-align: center">
                 <img :width="100" :height="100"  @click="addShape(200, 300, 30)" :src="require('@/assets/5.png')"/>
              </a-card-grid>
            </a-card>
        </div>
    </a-col>
  </a-row>

</template>

<script>
import {fabric} from 'fabric'
export default {
    components: {

    },
    watch: {
      canvas(val){
        console.log(val)
      }
    },
    data(){
      return {
        // canvas: null,
      }
    },
    created(){
      window.addEventListener('keydown', (e) => {
        if(e.key === 'Delete'){
          this.canvas.remove(this.canvas.getActiveObject());
         }
        });
    },
    methods: {
      addShape(w, h, c = 0){
        this.canvas.add(new fabric.Rect({
          width: w,
          height: h,
          fill: '',
          stroke: 'black',
          strokeWidth: 3,
           rx: c,
           ry: c,
        }))
      },
      mousedown(){
        console.log("adad")
      },
      add(){
        this.canvas.add(new fabric.Rect({
          fill: 'red',
          width: 120,
          height: 120
        }))
      }
    },
    mounted() {
    const ref = this.$refs.can;
    this.canvas = new fabric.Canvas(ref);

    this.canvas.on("object:modified", (event) => {
      console.log(event)
    });

    this.canvas.on("selection:created", (event) => {
     this.canvas.remove(event.selected);
    });

    this.canvas.on("selection:updated",() => {
     console.log("aa");
    });
  }
}

</script>