<template>
  <a-button style="margin-bottom: 8px" type="primary" @click="addDevices">Add Devices</a-button>
  <a-table :dataSource="dataSource" :loading="isLoadingData" :columns="columns">

    <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'name'">
          <a>
            {{ record.name }}
          </a>
        </template>
        <template v-else-if="column.key === 'is_active'">
          <a-tag v-if="record.is_active == true" color="green">
            ACTIVE
          </a-tag>
          <a-tag v-else color="volcano">
            INACTIVE
          </a-tag>
        </template>
         <template v-else-if="column.key === 'action'">
            <a @click="editDevices(record)">Edit</a>
            <a-divider type="vertical" />
            <a @click="deleteDevices(record)">Delete</a>
         </template>
    </template>
  </a-table>

    <a-modal v-model:visible="visible" title="Devices" @ok="handleOk" ok-text="Submit">
      <a-form  :label-col="{ span: 5 }" :wrapper-col="{ span: 16 }">
        <a-form-item label="Device Name">
          <a-input v-model:value="name" placeholder="Device Name" />
        </a-form-item>
        <a-form-item label="Status">
          <a-switch v-model:checked="isActive"/>
        </a-form-item>
        <a-form-item label="Connectivity">
        <a-select
          v-model:value="selectedConnectivity"
          style="width: 120px">
          <a-select-option value="wifi">WiFi</a-select-option>
          <a-select-option value="zigbee">Zigbee</a-select-option>
          <a-select-option value="bluetooth">Bluetooth</a-select-option>
          <a-select-option value="other">Other</a-select-option>
        </a-select>
        </a-form-item>

        <a-form-item label="Ip Address">
          <a-input v-model:value="ipAddress" placeholder="Enter Ip Address" />
        </a-form-item>
        <a-form-item label="Mac Address">
          <a-input v-model:value="macAddress" placeholder="Enter Mac Address" />
        </a-form-item>
      </a-form>
      <template #footer>
        <a-button key="back" @click="visible = false">Cancel</a-button>
        <a-button key="submit" type="primary" :loading="isSubmiting" @click="handleOk">Submit</a-button>
      </template>
    </a-modal>
</template>


<script>
import axios from 'axios'
 export default {
  data(){
    return {
        name: "",
        ipAddress: "",
        macAddress: "",
        isActive: false,
        visible: false,
        device_id: '',
        isLoadingData: false,
        isSubmiting: false,
        selectedConnectivity: 'wifi',
        mode: 'new',
        dataSource: [],
        columns: [
          {
            title: 'Name',
            dataIndex: 'name',
            key: 'name',
          },
          {
            title: 'Connectivity',
            dataIndex: 'connectivity',
            key: 'connectivity',
          },
          {
            title: 'IP Address',
            dataIndex: 'ip_address',
            key: 'ip_address',
          },
          {
            title: 'MAC Address',
            dataIndex: 'mac_address',
            key: 'mac_address',
          },
          {
            title: 'Status',
            dataIndex: 'is_active',
            key: 'is_active',
          },
          {
            title: 'Action',
            key: 'action',
          },
        ],
    }
  },
   methods: {
      async editDevices(data){
        if(data){
          try {
            let res = await axios.get('api/v1/device/'+data.id)
            if(res.data.success){
              this.isSubmiting = false
              this.mode = 'edit'
              this.visible = true
              this.name = res.data.data.name
              this.selectedConnectivity = res.data.data.connectivity
              this.ipAddress = res.data.data.ip_address
              this.macAddress = res.data.data.mac_address
              this.isActive = res.data.data.is_active
              this.device_id = res.data.data.id
            }
          } catch (error) {
            if(error){
              console.log(error)
            }
          }
        }
      },
      addDevices(){
        this.isSubmiting = false
        this.name = ''
        this.connectivity = 'wifi'
        this.ipAddress = ''
        this.macAddress = ''
        this.visible = true
        this.mode = 'new'
        this.device_id = ''
      },
      async handleOk(){
        this.isSubmiting = true
        var data = {
          name: this.name,
          connectivity: this.selectedConnectivity,
          ip_address: this.ipAddress,
          mac_address: this.macAddress,
          is_active: this.isActive,
          user_id: localStorage.getItem('user_id')
        }

        try {
          let res = ''
          if(this.mode === 'new'){
             res = await axios.post('api/v1/device', data)
          }else{
            res = await axios.put('api/v1/device/'+this.device_id, data)
          }

          if(res.data.success){
            this.loadDevices()
            this.visible = false
          }
        } catch (error) {
          if(error){
            console.log(error)
          }
        }

      },

      async loadDevices(){
        this.isLoadingData = true
        try {
          let res = await axios.get('api/v1/device')
          if(res.data.success){
            this.isLoadingData = false
            this.dataSource = res.data.data
          }
        } catch (error) {
          if(error){
            this.isLoadingData = true
          }
        }

      },
      async deleteDevices(data){
        console.log(data.id)
        try {
          let resDel = await axios.delete('api/v1/device/'+data.id)
          if(resDel){
            this.loadDevices()
          }
        } catch (error) {
          if(error){
            console.log(error)
          }
        }
      }
    },
    created(){
      this.loadDevices()
    }
 }
</script>