<template>
<a-row>
    <a-col :span="5">
      <a-form :wrapper-col="{ span: 16 }" name="basic" :label-col="{ span: 8 }">
        <a-form-item
          label="Email"
          name="username" >
            <a-input placeholder="Enter Email" v-model:value="email"/>
      </a-form-item>

        <a-form-item
          label="Password"
          name="username">
            <a-input-password placeholder="Enter Password" v-model:value="password" />
      </a-form-item>

      <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
        <a-button type="primary" @click="submitSignIn" :loading="isSubmit">Sign In</a-button>
      </a-form-item>

    </a-form>
    </a-col>
  </a-row>
</template>

<script>
import axios from 'axios'
  export default {
    data(){
      return {
        email: '',
        password: '',
        isSubmit: false
      }
    },
    methods: {
      async submitSignIn(){
        try {
          this.isSubmit = true
          var data = {
            email:this.email,
            password:this.password
          }

          let res = await axios.post('api/v1/login', data)
          if(res.data.message === 'success'){
            localStorage.setItem('user_id', res.data.user_id)
            localStorage.setItem('user_name', res.data.user_name)
            localStorage.setItem("token", res.data.access_token)
            this.$router.push('/devices')
          }else{
            this.isSubmit = false
          }
        } catch (error) {
          if(error){
            this.isSubmit = false
            console.log(error)
          }
        }
      }
    },
    created() {
      this.email = ''
      this.password = ''
      console.log(localStorage.getItem("token"))
    }
  }
</script>