<template>

  <a-layout class="layout">
    <a-layout-header>
      <div class="logo" />
      <a-menu
        v-model:selectedKeys="selectedKeys"
        theme="dark"
        mode="horizontal"
        :style="{ lineHeight: '64px' }">
        <router-link to="/">
          <a-menu-item key="1">Home</a-menu-item>
        </router-link>
        <router-link v-if="!isLoggedIn" to="/devices">
          <a-menu-item key="3">Devices</a-menu-item>
        </router-link>
        <router-link v-if="!isLoggedIn" to="/wizard">
          <a-menu-item key="5">Layout Wizard</a-menu-item>
        </router-link>
        <router-link to="/login" v-if="isLoggedIn">
          <a-menu-item key="2">Login</a-menu-item>
        </router-link>
        <a-menu-item @click="signout" v-else key="4">Sign Out</a-menu-item>
        <!-- <router-link to="/register">
          <a-menu-item key="3" v-if="isLoggedIn" >Register</a-menu-item>
        </router-link> -->
      </a-menu>
    </a-layout-header>
    <a-layout-content style="padding: 0 50px">
      <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item >Home</a-breadcrumb-item>
        <a-breadcrumb-item>List</a-breadcrumb-item>
        <a-breadcrumb-item>App</a-breadcrumb-item>
      </a-breadcrumb>
      <div :style="{ background: '#fff', padding: '24px', minHeight: '280px' }">
        <router-view></router-view>
      </div>
    </a-layout-content>
    <a-layout-footer style="text-align: center">
      Ahmad Syarifudin © 2022
    </a-layout-footer>
  </a-layout>
</template>

<script>

export default {
  name: 'App',
  data(){
    return {

    }
  },
  computed: {
      isLoggedIn(){
        return  localStorage.getItem('token') == null
      }
  },
  created() {
  },
  methods: {
    signout(){
      localStorage.removeItem('token')
      this.$router.push({name: 'homepage'});
      location.reload()
    }
  }
}
</script>

<style>
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

[data-theme='dark'] .site-layout-content {
  background: #141414;
}
</style>
